* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
  width: 600px;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: rgb(225, 186, 186);
  font-weight: 400;
  border-bottom: 1px solid rgb(135, 114, 114);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.214);
}

.App {
  text-align: center;
}
h3{
  margin: 20px 0;
}
.lastTasks{
  font-size: 12px;
  font-style: italic;
}

.task {
  margin: 25px auto;
  padding: 14px;
  width: 60%;
  border-radius: 10px;
  background-color: #deeded;
}
.form{
  width: 600px;
  padding: 20px;
  margin: 10px auto 20px;
  border-radius: 10px;
  background-color: bisque;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.214);
}
.form button{
padding: 3px 10px;
text-transform: uppercase;
margin: 20px;
font-size: 20px;
}