*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A7C04C;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
p{
    text-align: center;
    color: #EEF3DC;
}

h1{
    margin: 40px 0;
    text-align: center;
    color: #10262E;
}
h2{
    
    text-align: center;
    color: #43778B;
}
ul{
    
    color: #667292;
    font-size: 24px;
}
.infoUser{
    color: #43778B;
}