*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color:  #46556C;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #789EA3
}

p{
    margin: 20px;
    padding: 20px;
    background-color:  #789EA3;
    color: #E4FA71;
}
.title{
    background-color: #E4FA71;
    padding: 10px;
    
}
h1{
    margin: 20px;
    padding: 10px;
    background-color: #E4FA71;
}
h2{
    color: #F2DBB8;
}