body {
    background-color: #28d4b4;
    margin: 10px;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.79);
}

h1 {
    font-size: 30px;
    padding: 10px;
}

label {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    color: #4738eb;
}

input[type="checkbox"] {
    zoom: 1.5;
}