body {
  background-color: rgb(252, 252, 229);
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
  h1{
    font-size: 30px;
  }
  button{
    padding: 10px 20px;
    margin: 10px;
    border: solid 2px rgba(70, 38, 31, 0.851);
    border-radius: 10px;
    font-size: 24px;
    color: rgb(62, 10, 10);
    background-color: rgba(180, 164, 222, 0.851);
  }