* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #494f5d;
    margin: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #3978b3;
}

h1 {
    font-size: 30px;
    padding: 10px;
    color: #fef17c;
}

h2 {
    color: #dfe7de;
    font-weight: 400;
}

input {
    margin: 20px 0 20px 0;
    width: auto;
    height: 50px;
    color: #3978b3;
}

input::placeholder {
    padding-left: 20px;
    font-size: 20px;
    color: #3978b3;
}

button {
    background-color: #fef17c;
    font-size: 20px;
    width: 20%;
    height: 50px;
}

label {
    padding: 10px 20px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    color: #3978b3;
}

.inputChange {
    padding-left: 10px;
    font-size: 20px;
}

.wrapper {
    background-color: #3978b3;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

/* input[type="checkbox"] {
    zoom: 1.5;
} */
/* .negative{
color: rgb(225, 18, 18);
} */