* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ea4022;
    margin: 100px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: #dbb9b4;
}

h1 {
    font-size: 30px;
    padding: 100px;
    color: #f1e344;
}

label {
    font-size: 24px;
    color: #a57455;
}

/* input[type="checkbox"] {
    zoom: 2.5;
} */


/* .negative{
color: rgb(225, 18, 18);
} */

.bb{
    background-color: #fdae4c;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid, 10px #fdae4c;
    font-size: 30px;
    padding: 10px;
   
}