*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: burlywood;
  font-family: 'Courier New', Courier, monospace;
}
.App {
  text-align: center;
  /* margin: 0px 20px; */
}
h1{
  background-color: rgb(109, 90, 66);
  text-align: center;
  padding: 10px;
  color: burlywood;
}
input{
  margin-left: 20px;
  margin-top: 20px;
}
input[type="checkbox"]{
  margin-left: 0;
  margin-right: 10px;
}

form{
  text-align: right;
  margin: 20px 200px;
}
label{
  display: block;
}
button{
  font-size: 20px;
  color: antiquewhite;
  width: 170px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  background-color: rgb(181, 150, 109);
}
