*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #618685;
    margin: 10px;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: #fefbd8;
}

h1 {
    font-size: 30px;
    padding: 10px;
}

label {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    color: #fefbd8;
}

input[type="checkbox"] {
    zoom: 1.5;
}
p{
    color: #d5f4e6;
}
button{
    background-color: #d5f4e6;
    color:  #795548;
    width: 120px;
    height: 30px;
    border: solid 0px;
    border-radius: 5px;
}