* {
    background-color: #E3E9DC;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 2%;
    color:  #e3e9dc;
    text-align: center;
    font-weight: 400;
    background-color: #3e5563;
}

h2 {
    text-align: center;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #3e5563;
}

h3 {
    margin: 2%;
    color: #3e5563;
    /* background-color: crimson;
    padding: 2%;
    width: 30%; */
}

section {
    padding: 0px;
    margin-top: 20px;
    background-color: #e3e9dc;
}

p {
    margin: 2%;

}

a {
    text-decoration: none;
    padding: 2%;
    background-color:  #FCE285;

}

a:link {
    color: darkblue;
}

a:hover {
    color: #a32208;
}

.stopka {
    background-color: #fce285;
    text-align: center;
}

ul {
    padding-left: 10%;
}
