body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #dafe5a;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #1e4d37;
}

input[type="text"], button {
    margin-top: 50px;
    padding: 10px 30px;
    border: #afd4c3 2px solid;
    font-size: 30px;
    outline: none;
    background-color: #f5b873;
    font-family: 'Courier New', Courier, monospace;
}

.textLorem{
    margin-top: 50px;
    color:#1e4d37;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}