* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightyellow;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: maroon;
}

button {
    margin: 10px;
    font-size: 24px;
}

.wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: mediumaquamarine;
    width: 600px;
    height: 200px;
}