* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
h1{
  text-align: center ;
  font-family: 'Courier New', Courier, monospace;
  color: #347B98 ;
}

section {
  padding-top: 30px;
  background-color: burlywood;
}
nav {
  background-color: #092834;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  flex-grow: 1;
}
a{
  display: block;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 15px;
  text-align: center;
  color: #B2D732;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid #092834;
}

a:hover{
  color: #FE2712;
  /* border-bottom-color: #FE2712; */
}
.active{
  border-bottom-color: #FE2712;
}