*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #da040b;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: #dbead7;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: solid 2px #AD2210;
  border-radius: 30px;
  font-size: 24px;
  color: #26535b;
  background-color: #f5d857;
}